/SOLUCION/JavaApplication17/nbproject/private/
/SOLUCION/JavaApplication17/build/
/temp (Files Class)/JavaApplication1/nbproject/private/
/temp (Files Class)/JavaApplication1/build/
/ProyectoConMarco/nbproject/private/
/ProyectoConMarco/build/
